
{% extends 'base.html.twig' %}
{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id_menu</th>
            <th>Nom_menu</th>
            <th>actions</th>
        </tr>
        </thead>

    </table>

{% endblock %}
